.login_form{
    background-color: rgb(186, 147, 147);
    /* background-image: url("./blue-wall-background.jpg"); */
    background-image: url("./img/1.jpg");
    padding: 40px;
    align-items: center;
    border-radius: 20px;
    height: 400px;
    width: 350px;
    margin: auto;
    top:40px;
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
}
/* login text */
#text-title_login{
    font-size:25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
}
.title_login{
    text-align: center;
}


/* INPUT */
.input_login{
    margin: 30px 0px 30px 0px;
}
.Email-input_login{
    margin: 10px 0px 10px 0px;
}
.password-input_login{
    margin: 10px 0px 10px 0px;
}
.input_email_pass_login{
    height: 25px;
    width: 340px;
}
.label_input_login{
    display: block;
    text-align:start;
    font-size: 20px;
}
.btn-input_login{
    text-align: center;
    margin: 40px 0px 40px 0px;
}
#input_btn_login{
    height: 30px;
    width: 100px;
    font-size: 17px;
}
.forgot_login{
    display:inline-flex;
}
.password-forgot_login{
    font-size:15px;
    text-decoration: none;
    margin: 0px 5px 0px 0px;
}
.Email-forgot_login{
    font-size:15px;
    text-decoration: none;
    margin: 0px 0px 0px 5px;
}